html,body{
overflow-x:hidden;
padding:0px;

}
.flex-container{
    flex-direction:column;
    display: flex;
    font-family: 'Indie Flower', cursive;


}
.navbar{
  background-color: black;
font-family: 'Indie Flower', cursive;
font-size: 25px;



}
.navbar-main{
 background-color:black;
}

.orange{
    width:56px;
    height:56px;
    margin-right:4px;
    margin-left:15px;
}
.nav-link{

margin:15px;
margin-right:15px;
color:snow;


}
.nav-link:hover{
  color:orange;
  border-bottom: 2px solid orange;
margin-bottom: -5px;

}
.navbar-brand{
  color:snow;
  

}
.tillix{
  font-size: 30px;
  float: right;
}
.tillix:hover{
  color:orange;
}
.intro{
background-color:black;
width:100%;
height:680px;
display:block;
flex-direction:row;
text-align:center;
 

}
.intro1{
margin-top:10%}
.img{
background-image: url(fb.jpg);
border-radius:50%;
height:250px;
margin:auto;}


.quote{
    margin-top:50px;
    color:snow;
    font-size: 45px;
    


}
.about{
    background-color:black;
    width:100%;
    height:660px;
    display: inline-block;
}
.box{
  width: 150px;
  height: 150px;
  border: 10px solid snow;
  margin:15px;
  border-radius: 20%;
 
}

}
.p2{
display:inline-block;

}
.about2{
 display:inline-block;
 margin-left:250px;
 text-align: center;
 color: snow;
 
 

}




.hvr-glow:hover{

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(248, 122, 4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 38px rgb(248, 122, 4);}
.row2{
}
/*
.icons1{
  width:100%;
  
}
.icons2{
  width:100%;
  margin-top: 25px;
  }*/
/*.icon1{
  
  margin-left:20px;


}
.icon2{
  
  
  
  
  
  
  
}

.icon3{
  

  }
  .icon4{
    
  
    
   
  }
  .icon5{
    
  
   
   
    
    
  }
  .icon6{
    
    
    
    
    }*/
  








.p1{
text-align: left;
margin-top:75px;
color:snow;
margin-left:45px;
}
.p2,.box{
margin-left:;
color:snow;
display: inline-block;


}
/*.bkgd{
    align-items: center;
    justify-content:center;
    display:flex;
}*/

/*FLIP*/
.light{
    height:250px;
    width:275px;
    background-size:contain;
    margin-top:0px;}
.pro{
    flex-direction: left;
    margin-top:;
    color:snow;
    margin-left:45px;
/*--------------------------------------------------FLIP---------------------------------------------*/
}
.flip-card{
    background-color: transparent;
    width: 320px;
    height: 250px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; 
align-self: center;
display: flex;
justify-content:left;
margin-left:2px;
margin:25px;
margin-right:5px;
  
}


  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container*/ 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing)*/ 
  .flip-card-front, .t3,.t5 {
    background-color:white;
    color: black;
   background-position: top 15px;
  
  }
  
   .flip-card-front.t2 ,.t4,.t6 {
    background-color: rgb(248, 122, 4);
    color: black;
  
  
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:black;
    color:snow;
    transform: rotateY(180deg);
  }
  
/*END FLIP*/
.projects{
    background-color: black;
    width:100%;
height:680px;}

.contact{
    background-color:black;
    width:100%;
height:660px;

}
.contact1{
text-align: center;
color:snow;
}
.contact2{
  margin-left:45px;
  margin-top:10%;
  color:snow;
  text-align: left;
  display: inline-block;
 
}

.map{
  
 
  
}

.block{
  margin-top: 10%;
  
  margin-right:35px;
  float:right;
}
/*.map-res{
  position:relative;*/
@media screen and (max-width:576px)


 {
.about{
    
    width:100%;
    height:100%;
    padding-bottom:25%;
   
}
     .projects{
     
     height:100%;
     width:100%;
         padding-bottom:25%;
      
     
     }
     .intro{
     
     height:100%;
     width:100%;
         padding-bottom:35%;
      
     
     
     }

.flip-card-front, .t3,.t5 {
    background-color:white;
    color: black;
   background-position: top 15px;
  
  }
  
   .flip-card-front.t2 ,.t4,.t6 {
    background-color: rgb(248, 122, 4);
    color: black;} 
 
  


.box1,.box2,.box3,.box4,.box5,.box6{

  width:75px;
  height:75px;
  border:5px solid snow;
  margin:7px;
  border-radius: 20%;
max-width:100%;
display:inline;

}
.boxes1{

margin-right:45px;
width:100%;
margin-top:7px;
}

.p2,.box{
color:snow;
display: inline-block;
margin-left:45px;
#frame {
    width: 100px;
    height: 250px;
    border: none;
    position:absolute;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: 0 0;

    

} 
/*@media screen and (max-width:601px){
.about,.projects,.contact,.intro{
width:100%;
height:680px;} 

 .flip-card-front, .t4,.t5 {
    background-color:white;
    color: black;
   background-position: top 15px;
  
  }
  
   .flip-card-front.t2 ,.t3,.t6 {
    background-color: rgb(248, 122, 4);
    color: black;
  
  
 } 
.box{
  width: 150px;
  height: 150px;
  border: 10px solid snow;
  margin:15px;
  border-radius: 20%;
 
}

}

@media screen and (min-width:1025px)

 {
.about,.contact,.intro,.projects, .quote{
    flex-direction: column ;
    width:100%;
height:100%;
   
}

.flip-card-front, .t3,.t5 {
    background-color:white;
    color: black;
   background-position: top 15px;
  
  }
  
   .flip-card-front.t2 ,.t4,.t6 {
    background-color: rgb(248, 122, 4);
    color: black;} 
  
  }


